html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #D5E1EF;
}

.card {
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h5 {
  color: #1F314F;
}

.card-text {
  color: #68778D;
}

.card-img-top {
  border-radius: 10px;
}

.card-body {
  padding: 0;
}